<!DOCTYPE html> <!-- Sebuah tag diawali dengan < dan diakhiri > -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Dasar HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="app-heading">
        <div class="app-title">
            <h1 class="headline">JAVA CAR RENTAL</h1> <!-- Contoh dari non self closing Tag -->
            <h1 class="subheadline">BY SENDIKO</h1> <!-- Contoh dari non self closing Tag -->
        </div>
        <p class="paragraph">Sebuah website penyewaan mobil yang berlokasi di Purwokerto.</p>
    </div>
    <button id="create-transaction">Buat Transaksi Baru</button>

    <input name="cari_mobil" /> <!-- Contoh dari self closing Tag -->

    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>Nama Mobil</th>
                <th>Plat Nomer</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Tahun Keluaran</th>
                <th>Harga Sewa</th>
                <th>Available</th>
                <th>Jumlah Kursi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Avanza Hitam</td>
                <td>B 1234 XYZ</td>
                <td>Toyota</td>
                <td>Avanza</td>
                <td>2021</td>
                <td>Rp 350.000</td>
                <td>Ya</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Mobilio Silver</td>
                <td>D 5678 ABC</td>
                <td>Honda</td>
                <td>Mobilio</td>
                <td>2020</td>
                <td>Rp 320.000</td>
                <td>Tidak</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Innova Reborn</td>
                <td>E 9101 DEF</td>
                <td>Toyota</td>
                <td>Innova</td>
                <td>2022</td>
                <td>Rp 500.000</td>
                <td>Ya</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Xenia Putih</td>
                <td>F 1122 GHI</td>
                <td>Daihatsu</td>
                <td>Xenia</td>
                <td>2019</td>
                <td>Rp 300.000</td>
                <td>Ya</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Rush Adventure</td>
                <td>G 3344 JKL</td>
                <td>Toyota</td>
                <td>Rush</td>
                <td>2023</td>
                <td>Rp 450.000</td>
                <td>Tidak</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</body>

</html>